<h2
  class="text-3xl font-extrabold tracking-tight text-gray-900 text-center mt-8"
>
  <span class="block">My nametags.</span>
  <span class="block text-indigo-600">Click any nametag to edit.</span>
</h2>

<div
  *ngIf="nametags.length"
  class="grid grid-cols-4 justify-evenly justify-items-center my-8 gap-y-8"
>
  <a
    *ngFor="let nametag of nametags"
    [routerLink]="AppRoutes.NAMETAG_EDIT.buildFragments($any(nametag.id))"
    class="block shadow-md bg-white py-6 px-16 rounded-md text-center hover:shadow-lg hover:-translate-y-1 transition-all hover:cursor-pointer"
  >
    <div class="text-xl">
      <span *ngIf="nametag.firstName">{{ nametag.firstName }}</span>
      <span *ngIf="!nametag.firstName" class="italic">No first name</span>
    </div>
    <div class="text-base">
      <div *ngIf="nametag.profession">{{ nametag.profession }}</div>
      <div *ngIf="!nametag.profession" class="italic">No profession</div>
    </div>
  </a>
</div>

<div *ngIf="!nametags.length" class="text-center italic my-8">
  No nametags created yet.
</div>
