<div>
  <div class="max-w-7xl mx-auto py-12 px-4">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 text-center">
      <span class="block">Ready to dive in?</span>
      <span class="block text-indigo-600">Choose a template to start.</span>
    </h2>

    <div class="grid grid-cols-2 justify-evenly justify-items-center mt-16">
      <a *ngFor="let sampleTag of sampleNametag" [id]="'nametagTemplate-'+sampleTag.templateSlug"
        (click)="createNametag(sampleTag)"
        class="block shadow-xl hover:shadow-2xl my-5 hover:-translate-y-2 transition-all hover:cursor-pointer">
        <app-nametag-card [editEnabled]="false" [nametag]="sampleTag"></app-nametag-card>
      </a>

    </div>
  </div>
</div>