@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.fredoka-one {
  font-family: "Fredoka One", cursive;
}

.overpass {
  font-family: "Overpass", sans-serif;
}

.pt-sans {
  font-family: "PT Sans", sans-serif;
}
